* {
  margin: 0;
  padding: 0;
}
/* Variables */
:root {
  --gris-oscuro: #1b1d1f;
  --gris-ultraoscuro: #111315;
  --gris-medio: #6f757c;
  --verde-claro: #bee3cc;
  --beige-claro: #fef7ee;
  --dorado-claro: #f6c768;
  --rojo-anaranjado: #ed735d;
}

/* General */
body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--gris-ultraoscuro);
}

.header {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: var(--gris-ultraoscuro);
  background-image: url("./assets/bg-cafe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.content {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  right: 10%;

  background-color: var(--gris-oscuro);
  border-radius: 10px;
  padding-top: 20px;
}

.heading {
  width: 45%;
  margin: 0 auto;
}
.buttonGroup{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.buttonGroup button{
  margin-right: 10px;
  color: var(--beige-claro);
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 0.765rem;
  font-weight: bold;
}
.buttonGroup button:first-child{
  background-color: var(--gris-medio);
  padding: 8px;
  border-radius: 5px;
}
.products {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Cambia la cantidad de elementos por fila */
  gap: 30px;
}

.describe {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-items: baseline;
  align-items: baseline;
}
.image-container{
  position: relative;
}
.etiqueta{
  position: absolute;
  top: 8px;
  left: 6px;
  padding: 2px 6px 4px 6px;
  border: 1px solid transparent;
  border-radius: 13px;
  background-color:var(--dorado-claro);
  font-size: 0.725rem;
}
.describe .price{
  border: 1px solid var(--verde-claro);
  background-color: var(--verde-claro);
  padding: 3px 8px 3px 8px;
  color: var(--gris-ultraoscuro);
  border-radius: 5px;
}

.rating{
  width: 100%;
  display: flex;
  align-items: center;
}
.rating .element{
  margin-right: 3px;
}
.votes{
  color: var(--gris-medio);
  font-size: 0.925rem;
}
.soldout{
  color: var(--rojo-anaranjado);
  font-size: 0.865rem;
}

/* Títulos y textos */
h1 {
  color: var(--beige-claro);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  color: var(--gris-medio);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-item .imageProduct {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.product-item h3 {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 0.925rem;
}

.product-item p {
  text-align: center;
  color: var(--gris-medio);
  font-size: 0.825rem;
}
.productTitle {
  color: var(--beige-claro);
  
}

@media (max-width: 700px) {
  .header {
    position: relative;
    height: 30vh;
    background-color: var(--gris-ultraoscuro);
    background-image: url("./assets/bg-cafe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .heading {
    width: 90%;
    margin: 0 auto;
  }
}
